@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

:root {
    --color-dark: #1F2937;
    --color-dark: #0b2544;
    --color-dark: #041d3b;
    --color-medium: #e5e7ebbe;
    --color-light-bg: rgba(255, 255, 255, 0.8);
    --color-light-bg: rgba(226, 166, 152, 0.4);
    --color-dark-text: black;
    --color-light-text: #F9FAF8;
    --color-highlight: #3882F6;
    --color-highlight: #da8a83;
    --color-title: #fdc448;
    --color-highlight: #fdc448;
    
    --text-quote-size: 36px;
    
    --text-quote-style: italic;

    --font-size-factor: 1.3;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: url('../assets/img/sea_bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:.7vw 0;
    background-color: var(--color-dark);
    user-select: none;
    /* position: sticky; */
    top: 0;
}

.header-logo {
    color: var(--color-light-text);
    font-size: calc(24px * 1.3 * var(--font-size-factor));
    font-weight: 700;
}

header .menu {
    display: flex;
    gap: 4vw;
    list-style-type: none;
    
}

.menu-link{
    font-size: calc(18px * 1.1 * var(--font-size-factor));
    color: var(--color-medium);
    transition: color 300ms;
    cursor: pointer;   
    padding: 12px; 
}

.menu-link:hover{
    color: var(--color-light-text);
    font-weight: 700;
}

main {
    flex:1;
}

section:not(:first-of-type){
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2vh 0;
}

section > span.title {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: .6vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: calc(36px * var(--font-size-factor));
    font-weight: bold;
    color: var(--color-title);
}

section.showcase {
    height: 40vh;
    background: var(--color-dark);
    display:flex;
    justify-content: center;
    align-items: center;
}

.showcase .content {
    max-width: 60%;
    height: 80%;
    display: flex;
    gap: 5vw;
}

.showcase .left {
    padding: 1vw;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.showcase .right{
    height: 100%;
    width: 40%;                             
    object-fit: cover;
}

.showcase img {
    max-height: 100%;
    max-width: 100%;
    border: 5px solid var(--color-light-text);
    border-radius: 10px;
}

.hero-main{
    color: var(--color-light-text);
    font-family: Caveat, sans-serif;
    font-size: calc(48px * 1.2 * var(--font-size-factor));

}

.hero-second {
    color: var(--color-medium);
    font-size: calc(18px * var(--font-size-factor));
    line-height: calc(18px * 1.5 * var(--font-size-factor));
}

.hero-btn {
    height: 15%;
    width: 25%;
    border: none;
    border-radius: 10px;
    color: var(--color-light-text);
    background-color: var(--color-highlight);
    font-size: calc(18px * var(--font-size-factor));
    font-weight: bold;
    transition: background-color, color 300ms;
    cursor: pointer;
}

.hero-btn:hover {
    background-color: var(--color-medium);
    color: var(--color-highlight);
    
}

section.services {
    background-color: var(--color-light-bg);
    width: 100%;
    justify-content: center;
    align-items: center;
}

.service-container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    gap: 2vw;
}

.service {
    width: 100%;
    height: 100%;
    background-color: var(--color-medium);
    border-radius: 10px;
}

.service .image{
    height: 100%;
    width: 100%;                             
}

.service .image img {
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
    border: 5px solid var(--color-light-text);
    border-radius: 10px;
}

.service .description {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1vw;
}

.service .description .name {
    font-size: calc(18px * 1.2 * var(--font-size-factor));
    font-weight: bold;
}

section.customer-reviews {
    background-color: var(--color-light-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.review-container {
    width: 45%;
    height: 30vh;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background: var(--color-medium);
}

.reviews {
    width: 400%;
    height: 100%;
    display:flex;
    align-items: center;
    
    transition: margin 300ms;
}

.review {
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1vw;
}

.review > .rating {
    width:100%;
    height: 15%;
    display: flex;
    align-items: center;
    padding: 1vh;
    gap: .8vw;
}

.rating > .svg-icon {
    fill: var(--color-highlight); 
    transform: scale(1.8);
}

.review > .message {
    width:100%;
    height: 60%;
    display: flex;
    align-items: center;
    font-size: calc(36px * 0.6 *var(--font-size-factor));
    line-height: calc(36px * var(--font-size-factor));
    font-style: italic;
}

.review > .author {
    width:100%;
    height: 10%;
    display: flex;
    justify-content: right;
    padding-right: 1vw;
    font-size: calc(18px * 1.2 * var(--font-size-factor))
}

.slider {
    position: absolute;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.slider > label {
    height: 1.2vw;
    aspect-ratio: 1/1;
    border: 3px solid var(--color-dark);
    border-radius: 50%;
    background-color: var(--color-medium);
    cursor: pointer;
    transition: 200ms;
}

.slider > label:hover {
    background-color: var(--color-light-bg);
}

@keyframes moveup {
    0% {
     transform: translateY(6vh);
    } 
    50% {
     transform: translateY(2vh);
    }
    100% {
     transform: translateY(-1vh);
    }
 }
 
 @keyframes movedown {
     0% {
         transform: translateY(-1vh);
        } 
        50% {
         transform: translateY(2vh);
        }
        100% {
         transform: translateY(6vh);
        }
 }

input[name="review-slider"] {
    display: none;
}

#slide-1:checked ~ .reviews{
    margin-left: -0%;
}

#slide-2:checked ~ .reviews{
    margin-left: -100%;
}

#slide-3:checked ~ .reviews{
    margin-left: -200%;
}

#slide-4:checked ~ .reviews{
    margin-left: -300%;
}

#slide-1:checked ~ .slider > label:nth-of-type(1){
    background-color: var(--color-highlight) !important;
}

#slide-2:checked ~ .slider > label:nth-of-type(2){
    background-color: var(--color-highlight) !important;
}

#slide-3:checked ~ .slider > label:nth-of-type(3){
    background-color: var(--color-highlight) !important;
}

#slide-4:checked ~ .slider > label:nth-of-type(4){
    background-color: var(--color-highlight) !important;
}

section.customer-reviews:not(:hover) .slider{
    animation: movedown 100ms ease-in forwards;
}

section.customer-reviews:hover .slider {
    animation: moveup 100ms ease-in forwards;
   
}

section.infos {
    background-color: var(--color-dark);
    color: var(--color-light-text);
    align-items: center;
    display: flex;
}

.infos > .container {
   display: flex;
   width: 90%;
   height: 100%;
   justify-content: center;
   align-items: center;
   gap: 4vw;

}

section.team {
    background-color: var(--color-dark);
    color: var(--color-light-text);
    justify-content: center;
    align-items: center;
}

.team > .title {
    color: var(--color-light-text);
}

.team-members {
    height:30vh;
    padding: 1vh;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-member {
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.team-member .image {
    height: 75%;
    
}

.team-member > .image > img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
    border: 5px solid var(--color-highlight);
    border-radius:10px;
}

.team-member .infos {
    display: flex;
    flex-direction: column;
    height: 20%;
    font-size: calc(18px * var(--font-size-factor))
}

.team-member .name,
.team-member .position {
    height: 50%;
}

section.newsletter {
    background-color: var(--color-light-bg);
}

footer {
    width: 100%;
    min-height:5vh;
    background: var(--color-dark);
    color: var(--color-light-text);
    font-size: calc(16px * var(--font-size-factor));
    display: flex;
    justify-content: center;
    align-items: center;
}