@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

:root {
    /* Original */
    --color-dark: #1F2937;
    --color-medium: #e5e7ebbe;
    --color-highlight: #3882F6;
    --color-light-text: #F9FAF8;

    --color-dark: #00333b;
    --color-highlight: #fdc448;
    --color-bg-pattern: #986c0f;
    /* --color-highlight: rgba(152, 108, 15,.3); */
    --color-light-bg: rgba(226, 166, 152, 0.4);

    --font-size-factor: 1.3;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: url('../assets/img/sea_bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

html::-webkit-scrollbar {
    width: 10px;
    background: var(--color-dark);
}
html::-webkit-scrollbar-thumb {
    background: var(--color-bg-pattern);
    border-radius: 5px;
}
html::-webkit-scrollbar-thumb:active {
    background: var(--color-highlight);
}

.dark-bg-pattern-1 {
    background-color: var(--color-dark);
    background-image:  radial-gradient(var(--color-bg-pattern) 0.45px, transparent 0.45px), radial-gradient(var(--color-bg-pattern) 0.45px, var(--color-dark) 0.45px);
    background-size: 18px 18px;
    background-position: 0 0,9px 9px;
}

.dark-bg-pattern-2 {
    background: 
    repeating-linear-gradient(0deg, transparent 6.5%, #00333b 7%, #00333b 9%, transparent 10%), 
    linear-gradient(45deg, transparent 49%, #986c0f 49%, #986c0f 51%, transparent 51%), 
    linear-gradient(-45deg, transparent 49%, #986c0f 49%, #986c0f 51%, transparent 51%);
    background-size: 6em 6em;
    background-color: var(--color-dark);
}

.dark-bg-pattern-2 > * {
    background-image: none;
    background-color: var(--color-dark);
}

img,.icon {
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:.6vw 0;
    background-color: var(--color-dark);
    user-select: none;
    border-bottom: 4px solid var(--color-bg-pattern);
}

.header-logo {
    max-width: 20%; 
    display:flex;
    justify-content: center;
    align-items: center;
    padding: .2vw;
    border: 2px solid var(--color-bg-pattern);
    border-radius: 10px;
    flex-grow: 1;
    max-width: 15vw;
}

.header-logo .logo-icon {
    width: 20%;
    height: 100%;
    fill: var(--color-light-text);
}

.header-logo .logo-name::before{
    content:"";
    border: 1.5px solid var(--color-bg-pattern);
    margin: 0 2vh;
}

.header-logo .logo-name {
    color: var(--color-light-text);
    font-size: calc(24px * 1.3 * var(--font-size-factor));
    font-weight: 700;
}

header .menu {
    height: 70%;
    display: flex;
    align-items: center;
    list-style-type: none;
    border: 2px solid var(--color-bg-pattern);
    border-radius:10px;
    overflow: hidden;
}

.menu-link{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(18px * 1.1 * var(--font-size-factor));
    color: var(--color-medium);
    transition: 300ms;
    cursor: pointer;   
    padding: .5vw 1.5vw; 
    font-weight: 700;
}

.menu-link:hover{
    color: var(--color-light-text);
    background-color: var(--color-bg-pattern);
}

main {
    flex:1;
}

section {
    width: 100%;
}

section:not(:first-of-type){
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2vh 0;
}

section > span.title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: calc(36px * var(--font-size-factor));
    font-weight: bold;
    color: var(--color-highlight);
}

section.showcase {
    background-color: var(--color-dark);
    height: 45vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.showcase .content {
    max-width: 65%;
    height: 80%;
    display: flex;
    gap: 4vw;
}

.showcase .left {
    padding: 1vw;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.showcase .right{
    height: 100%;
    width: 40%;                             
    object-fit: cover;
    display: flex;
    align-items: center;
}

.showcase img {
    border: 5px solid var(--color-light-text);
    border-radius: 10px;
}

.hero-main{
    color: var(--color-light-text);
    font-family: Caveat, sans-serif;
    font-size: calc(48px * 1.2 * var(--font-size-factor));
}

.hero-second {
    color: var(--color-medium);
    font-size: calc(18px * var(--font-size-factor));
    line-height: calc(18px * 2 * var(--font-size-factor));
}

.hero-btn {
    height: 15%;
    width: 25%;
    padding: .8vh 0;
    border: none;
    border-radius: 10px;
    color: var(--color-dark);
    background-color: var(--color-highlight);
    font-size: calc(18px * var(--font-size-factor));
    font-weight: bold;
    transition: background-color, color 300ms;
    cursor: pointer;
}

.hero-btn:hover {
    background-color: var(--color-bg-pattern);
    color: var(--color-light-text);
    
}

section.services {
    background-color: var(--color-light-bg);
    justify-content: center;
    align-items: center;
    padding: 10vh 0;
}

.service-container {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    gap: 4vw;
}

.service {
    width: 100%;
    height: 100%;
    background-color: var(--color-medium);
    border-radius: 10px;
}

.service .image{
    height: 100%;
    width: 100%;                             
}

.service .image img {
    border: 5px solid var(--color-light-text);
    border-radius: 10px;
}

.service .description {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1vw;
}

.service .description .name {
    font-size: calc(18px * 1.2 * var(--font-size-factor));
    font-weight: bold;
}

section.infos {
    background-color: var(--color-dark);
    color: var(--color-light-text);
    align-items: center;
    display: flex;
}

.infos > .container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 70%;
   height: 100%;
   gap: 2vw;

}

.infos .step-container {
    display: flex;
    align-items: center;
    gap: 3vw;
}

.step{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-bg-pattern);
    font-size: calc(30px * var(--font-size-factor));
    font-weight: bold;
}

.step-container:not(:first-child){
    margin-left: 2vw;
}

.step-container:not(:first-child) > .step{
    height: 100%;
    aspect-ratio: 1;
    flex-grow: 1;
    border: 5px solid var(--color-bg-pattern);
    border-radius: 50%;
    font-size: calc(40px * var(--font-size-factor));
}

.step-text{
    font-size: calc(18px * var(--font-size-factor));
    line-height: calc(18px * 2.5 * var(--font-size-factor));
    width: 90%;
}

.step-container:first-of-type .step-text{
    width:100%;
}

section.club {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5vh;
}

.club .container{
    height: 55vh;
    width: 70%;
    border: 5px solid var(--color-bg-pattern);
    border-radius: 10px;
    padding: 2vw;
    display: flex;
    gap: 2vw;
}

.club .container .left {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1vh;
}

.club .left > .title {
    color: var(--color-light-text);
    font-size: calc(20px * 2 * var(--font-size-factor));
}

.club .main-container{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    font-size: calc(18px * var(--font-size-factor));
    color: var(--color-medium);
    padding-left: 1vw;
}

.club ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3vh;
    padding-left: 1vw;
}

.club .main-container li {
    display: flex;
    align-items: center;
    gap: 1vw;
}
.club .main-container .list-icon {
    width: 2%;
    aspect-ratio: 1;
}

.club .list-icon > .icon {
    fill: var(--color-highlight);
}

.club-btn {
    width: 25%;
    margin: 1vw 0 0 1vw;
    padding: .8vw;
    border: none;
    border-radius: 10px;
    background-color: var(--color-highlight);
    color: var(--color-dark);
    font-size: calc(18px * var(--font-size-factor));
    font-weight: bold;
    transition: background-color, color 300ms;
    cursor: pointer;
}

.club-btn:hover{
    background: var(--color-bg-pattern);
    color: var(--color-light-text)
}

.club .container .right {
    width: 40%;
    border: 5px solid var(--color-light-text);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.team {
    color: var(--color-light-text);
    justify-content: center;
    align-items: center;
}

.team-members {
    height:30vh;
    padding: 1vh;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-member {
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.team-member .image {
    height: 75%;
    
}

.team-member > .image > img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
    border: 3px solid var(--color-bg-pattern);
    border-radius:10px;
}

.team-member .infos {
    display: flex;
    flex-direction: column;
    height: 20%;
    font-size: calc(18px * var(--font-size-factor));
    gap: 1vh;
}

.team-member .name,
.team-member .position {
    height: 50%;
}

section.awards {
    color: var(--color-light-text);
    justify-content: center;
    align-items: center;
}

.awards-container {
    display: flex;
    justify-content: space-evenly;
    gap: 3vw;
    width: 90%;
    height: 12vh;
}

.award {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.award svg {
    fill: var(--color-highlight)
}

section.customer-reviews {
    background-color: var(--color-light-bg);
    flex-direction: column;
    align-items: center;
    padding: 8vh;
}

.review-container {
    width: 45%;
    height: 25vh;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background: var(--color-medium);
}

.reviews {
    width: 400%;
    height: 100%;
    display:flex;
    align-items: center;
    
    transition: margin 300ms;
}

.review {
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2vw;
}

.review > .rating {
    width:100%;
    height: 15%;
    display: flex;
    align-items: center;
    padding: 1vh;
    gap: .8vw;
}

.rating > .svg-icon {
    fill: var(--color-highlight); 
    transform: scale(1.8);
}

.review > .message {
    width:100%;
    height: 60%;
    flex-grow:1;
    display: flex;
    align-items: center;
    font-size: calc(36px * 0.6 *var(--font-size-factor));
    line-height: calc(36px * var(--font-size-factor));
    font-style: italic;
}

.review > .author {
    width:100%;
    height: 10%;
    display: flex;
    justify-content: right;
    padding-right: 1vw;
    font-size: calc(18px * 1.2 * var(--font-size-factor))
}

.slider {
    position: absolute;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.slider > label {
    height: 1.2vw;
    aspect-ratio: 1/1;
    border: 3px solid var(--color-dark);
    border-radius: 50%;
    background-color: var(--color-medium);
    cursor: pointer;
    transition: 200ms;
}

.slider > label:hover {
    background-color: var(--color-bg-pattern);
}

@keyframes moveup {
    0% {
     transform: translateY(6vh);
    } 
    50% {
     transform: translateY(2vh);
    }
    100% {
     transform: translateY(-1vh);
    }
 }
 
 @keyframes movedown {
     0% {
         transform: translateY(-1vh);
        } 
        50% {
         transform: translateY(2vh);
        }
        100% {
         transform: translateY(6vh);
        }
 }

input[name="review-slider"] {
    display: none;
}

#slide-1:checked ~ .reviews{
    margin-left: -0%;
}

#slide-2:checked ~ .reviews{
    margin-left: -100%;
}

#slide-3:checked ~ .reviews{
    margin-left: -200%;
}

#slide-4:checked ~ .reviews{
    margin-left: -300%;
}

#slide-1:checked ~ .slider > label:nth-of-type(1){
    background-color: var(--color-highlight) !important;
}

#slide-2:checked ~ .slider > label:nth-of-type(2){
    background-color: var(--color-highlight) !important;
}

#slide-3:checked ~ .slider > label:nth-of-type(3){
    background-color: var(--color-highlight) !important;
}

#slide-4:checked ~ .slider > label:nth-of-type(4){
    background-color: var(--color-highlight) !important;
}

section.customer-reviews:not(:hover) .slider{
    animation: movedown 100ms ease-in forwards;
}

section.customer-reviews:hover .slider {
    animation: moveup 100ms ease-in forwards;
   
}

section.newsletter {
    height: 15vh;
    align-items: center;
    justify-content: center;
}

.newsletter .container {
    width: 50%;
    height: 80%;
    display: flex;
    gap: 1vw;
    background-color: var(--color-highlight);
    border: 3px solid var(--color-bg-pattern);
    border-radius: 10px;
    padding: 1vw;
}

.newsletter .left {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: .8vh;
}

.newsletter .left .head{
    font-weight: bold;
    font-size: calc(20px * var(--font-size-factor));
}

.newsletter .left .title{
    font-size: calc(18px * var(--font-size-factor));
}

.newsletter .right {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
}

.newsletter-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .4vw;
    border: none;
    border: 2px solid var(--color-dark);
    border-radius: 10px;
    font-size: calc(16px * var(--font-size-factor));
    font-weight: bold;
    cursor: pointer;
}

.newsletter-btn > * {
    transition: all cubic-bezier(0,1.12,.18,.94);
}

.newsletter-btn:hover > *{
    text-decoration:underline;
    transform: scale(1.05);
}    

.newsletter-btn .icon-container {
    display: flex;
    align-items: center;
    width: 25%;
    aspect-ratio: 1/1;
}

footer {
    width: 100%;
    background: var(--color-dark);
    color: var(--color-light-text);
    font-size: calc(16px * var(--font-size-factor));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 4px solid var(--color-bg-pattern);
    padding: 3vh 0;
}

footer .footer-content {
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding: 3vh;
    border: 3px solid var(--color-bg-pattern);
    border-radius: 10px;
}

.link-container {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.link-container .head {
    color: var(--color-bg-pattern);
    font-size: calc(18px * var(--font-size-factor));
}

.link-container .content {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    line-height: calc(16px * var(--font-size-factor));
}

.link-container a {
    text-decoration: none;
    color: var(--color-medium);
    transition: 300ms;
}

.link-container a:active {
    color: var(--color-light-text);
}

.link-container a:hover {
    text-decoration: underline;
}

.logo-copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.logo-copyright .logo {
    width: 80%;

}

.logo-copyright .logo svg {
    fill: var(--color-bg-pattern);
}

.copyright {
    display: flex;
    align-items: flex-end;
    color: var(--color-medium);
    font-size: calc(14px * var(--font-size-factor));
}